@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* css reset  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

:root {
    --primarycolor: #FFFFFF;
    --secandorycolor: #FB8454;
}

.container {
    max-width: 90%;
    margin: 0px auto;

}

.m-bot {
    margin-bottom: 100px;

}

a {
    text-decoration: none
}

/* home section start */
.home {
    background-image: url(images/main/Group\ 9.jpg);
    height: 810px;
    position: relative;

}

/* header styling start  */
header {
    z-index: 1;
    position: relative;
    padding-top: 2.5rem;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


}

nav img {
    width: 200px;
    height: 97.62px;


}

nav .nav {
    display: flex;
    gap: 2.2rem;
    flex-wrap: wrap;


}

nav .nav a {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: var(--primarycolor);


}

nav .nav .fa-bars {
    font-size: 1.5rem;
    color: var(--primarycolor);
    display: none;

}

/* header styling end  */
/* data text start  */
.home-sec {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    height: 454px;

}

.home-sec .item {
    flex-basis: 300px;
    flex-grow: 1;
}

.home-sec .data-text {
    align-self: center;
}

.home-sec .data-text h2 {
    font-size: 34px;
    font-weight: 800;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--primarycolor);
    margin-bottom: 30px;


}

.data-text h2 span {
    color: var(--secandorycolor);
}

.data-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--primarycolor);

}

/* data text end  */

/* form sec start  */
.form-sec h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    color: var(--primarycolor);
    margin-bottom: 2.8rem;




}

form .input {
    position: relative;
    margin-bottom: 2rem;

}

form .input input {
    padding: 0.4rem 1.8rem;
    background: transparent;
    outline: none;
    border: medium;
    border-bottom: 1px solid #FFFFFF;
    width: 100%;

}

form .input img {
    position: absolute;
    left: 0;
    top: 0.3rem;
}

form .btn {
    width: 150px;
    border-radius: 50px;
    color: var(--primarycolor);
    background-color: var(--secandorycolor);
    border: none;
    padding: 0.5rem 2rem;
}

/* form sec ned  */
/* buble sec start  */
.animation {
    display: flex;
    gap: 50px;
    position: absolute;
    bottom: 20px;
}

.animation img {
    height: 60px;
    width: 60px;
    opacity: 0;
    animation: up 7s linear infinite;
}

.animation img:nth-child(1) {
    animation-delay: 1.5s;
}

.animation img:nth-child(2) {
    animation-delay: 2s;
}

.animation img:nth-child(3) {
    animation-delay: 2.8s;
}

.animation img:nth-child(4) {
    animation-delay: 2s;
}

.animation img:nth-child(5) {
    animation-delay: 5s;
}

.animation img:nth-child(6) {
    animation-delay: 3s;
}

.animation img:nth-child(7) {
    animation-delay: 4s;
}

.animation img:nth-child(8) {
    animation-delay: 5s;
}

.animation img:nth-child(9) {
    animation-delay: 6s;
}

.animation img:nth-child(10) {
    animation-delay: 7s;
}



@keyframes up {
    from {
        opacity: 0;


    }

    to {
        opacity: 1;
        transform: translateY(-800px);
    }



}

/* end   */
/* home section end  */

/* why start  */
.why-section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 2.5rem;

}

.why-item {
    flex-basis: 300px;
    flex-grow: 1;


}

.why-item .heading {
    margin-bottom: 3rem;
}

.why-item .heading h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    color: var(--secandorycolor);
    margin-bottom: 0.4rem;

}

.why-item .heading p {
    font-size: 14px;
    font-weight: 400;
    text-align: left;

}

.why-item .item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.why-item .item img {
    width: 55px;
    height: 55px;

}

.why-item .item h3 {
    font-size: 22px;
    font-weight: 700;
    text-align: left;

}

.why-item .item p {
    font-size: 16px;
    font-weight: 400;
    text-align: left;

}

.why-section .right {
    align-self: center;
}

.right img {
    width: 100%;
    display: block;

}


/* why end  */
/* ds course start  */
.ds-course {
    padding: 6rem 0rem;
    background-color: #121313;


}

.dscourse-sec .heading {
    margin-bottom: 2.2rem;
}

.dscourse-sec .heading h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    color: #FB8454;
    margin-bottom: 0.3rem;

}

.dscourse-sec .heading p {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;

}

.dscourse-sec .ds-boxes {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;


}

.dscourse-sec .ds-boxes .ds-item {
    flex-basis: 300px;
    flex-grow: 1;
    position: relative;
}

.ds-boxes .ds-item .n1 {
    width: 82px;
    height: 82px;
    padding: 24px 32px 24px 32px;
    background-color: var(--secandorycolor);
    border: none;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
    color: var(--primarycolor);
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.ds-item .n1:after {
    content: "";
    width: 90%;
    background-color: #FB8454;
    height: 3px;
    position: absolute;


}

.ds-item .ds-box {
    padding: 2rem 2rem;
    border: none;
    border-radius: 20px;
    background-color: #F8F8F8;

}

.ds-item .ds-box h3 {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    color: #000000;

}

.ds-item .ds-box p {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #000000;

}

/* ds course end  */

/* enroll start  */
.enroll-sec h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    color: var(--secandorycolor);
    margin-bottom: 2.5rem;


}

.enroll-boxes {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.enroll-boxes .enroll-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #000000;
    padding: 1.3rem 1.5rem;
    border: none;
    border-radius: 20px;
    flex-basis: 280px;
    flex-grow: 1;

}

.enroll-boxes .enroll-item img {
    width: 70px;
    height: 75px;


}

.enroll-boxes .enroll-item p {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #FFFFFF;

}

/* enroll end  */

/* faq start  */
.faq-section h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: var(--secandorycolor);
    margin-bottom: 60px;


}

.faq-sec {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
    margin: 0px auto;
}

.faq-sec .faq-item {
    background-color: #F5F5F5;

}

.faq-sec .faq-item div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0px;
    justify-content: space-between;
    background-color: #FB8454;
    padding: 2rem 2rem;
    color: #F8F8F8;
    border: none;
    border-radius: 20px;
}

.faq-item div p {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #FFFFFF;

}

.faq-item>p {
    padding: 1rem;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #000000;

}

.faq-sec .faq-item1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 0rem;
    background-color: #F8F8F8;
    padding: 2rem 2rem;
    color: #000000;
    border: none;
    border-radius: 20px;

}

.faq-item1 p {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #121313;

}

/* faq end  */

/* footer start  */
footer {
    background-color: #121313;
    padding: 3rem 0rem;
}

footer h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    color: #FFFFFF;
    width: 90%;
    margin: 0px auto;


}

.foot-box {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;

}

.foot-item {
    flex-basis: 300px;
    flex-grow: 1;
}

.foot-item .data {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.foot-item .data img {
    width: 24px;
    height: 28.99px;

}

.foot-item .data h4 {
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 0.3rem;

}

.foot-item .data p {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #FFFFFF;

}

.foot-item .data .i2 {
    width: 31.9px;
    height: 30.53px;

}

.foot-item .data .i3 {
    width: 32px;
    height: 24px;


}

footer .line {
    border: 1px solid #FFFFFF;
    margin-top: 3rem;
    width: 90%;
    padding: 0px 10px;
    margin: 50px auto;
}

footer .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 1rem 0px;


}

footer .bottom div {
    display: flex;
    gap: 1rem;

}

.bottom div .p {
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    color: #FFFFFF;

}

.bottom div img {
    width: 26px;
    height: 26px;
    border-radius: 4px;

}

.bottom .right a {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #FFFFFF;

}

/* footer end  */




/* media queries start  */
/* phone start  */
@media screen and (max-width:576px) {
    .container {
        max-width: 100%;
        padding: 1rem 1.5rem;
    }

    .m-bot {
        margin-bottom: 60px;
    }

    .home-sec {
        gap: 60px;
    }

    .why-item .item {
        flex-wrap: wrap;
    }

    .ds-item .n1:after {
        width: 85%;
    }

    .animation img:nth-child(4) {
        animation-delay: 2s;
        display: none;
    }
    .animation img:nth-child(5) {
        animation-delay: 2s;
        display: none;
    }
    .animation img:nth-child(6) {
        animation-delay: 2s;
        display: none;
    }
    .animation img:nth-child(7) {
        animation-delay: 2s;
        display: none;
    }
    .animation img:nth-child(8) {
        animation-delay: 2s;
        display: none;
    }
    .animation img:nth-child(9) {
        animation-delay: 2s;
        display: none;
    }
    .animation img:nth-child(10) {
        animation-delay: 2s;
        display: none;
    }
    .animation{
        gap: 20px;
    }

}

/* phone end  */
/* tab start  */
@media screen and (max-width:780px) {
    .home {
        height: 1170px;

    }

    /*  */
    nav .nav .fa-bars {
        display: block;
    }

    .nav a {
        display: none;
    }

    nav img {
        width: 150px;
        height: 70px;

    }
}

/* tab end  */



/* meadia queries end  */